<component name="ArtifactManager">
  <artifact type="jar" name="springboot02-search:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot02_search_jar</output-path>
    <root id="archive" name="springboot02-search.jar">
      <element id="module-output" name="springboot02-search" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/google/protobuf/protobuf-java/3.11.4/protobuf-java-3.11.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/mybatis/mybatis-spring/1.3.2/mybatis-spring-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/ch/qos/logback/logback-classic/1.2.3/logback-classic-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.9.4/jackson-datatype-jdk8-2.9.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/httpcomponents/httpcore/4.4.9/httpcore-4.4.9.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/alibaba/fastjson/1.2.47/fastjson-1.2.47.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-starter-jdbc/2.0.0.RELEASE/spring-boot-starter-jdbc-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-starter-tomcat/2.0.0.RELEASE/spring-boot-starter-tomcat-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/tomcat/embed/tomcat-embed-core/8.5.28/tomcat-embed-core-8.5.28.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-starter-web/2.0.0.RELEASE/spring-boot-starter-web-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/commons/commons-lang3/3.7/commons-lang3-3.7.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-beans/5.0.4.RELEASE/spring-beans-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/yaml/snakeyaml/1.19/snakeyaml-1.19.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/fasterxml/jackson/module/jackson-module-parameter-names/2.9.4/jackson-module-parameter-names-2.9.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/fasterxml/jackson/core/jackson-databind/2.9.4/jackson-databind-2.9.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/httpcomponents/httpclient/4.5.5/httpclient-4.5.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-web/5.0.4.RELEASE/spring-web-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot/2.0.0.RELEASE/spring-boot-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/data/spring-data-redis/2.0.5.RELEASE/spring-data-redis-2.0.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.9.4/jackson-datatype-jsr310-2.9.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-autoconfigure/2.0.0.RELEASE/spring-boot-autoconfigure-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/hibernate/validator/hibernate-validator/6.0.7.Final/hibernate-validator-6.0.7.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/data/spring-data-commons/2.0.5.RELEASE/spring-data-commons-2.0.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/reactivestreams/reactive-streams/1.0.2/reactive-streams-1.0.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/netty/netty-codec/4.1.22.Final/netty-codec-4.1.22.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-aop/5.0.4.RELEASE/spring-aop-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-tx/5.0.4.RELEASE/spring-tx-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-context-support/5.0.4.RELEASE/spring-context-support-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/httpcomponents/httpasyncclient/4.1.3/httpasyncclient-4.1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/javax/servlet/jstl/1.2/jstl-1.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/tomcat/embed/tomcat-embed-jasper/8.5.28/tomcat-embed-jasper-8.5.28.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/data/spring-data-keyvalue/2.0.5.RELEASE/spring-data-keyvalue-2.0.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/httpcomponents/httpcore-nio/4.4.9/httpcore-nio-4.4.9.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/zaxxer/HikariCP/2.7.8/HikariCP-2.7.8.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-starter/2.0.0.RELEASE/spring-boot-starter-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/projectreactor/reactor-core/3.1.5.RELEASE/reactor-core-3.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/jboss/logging/jboss-logging/3.3.2.Final/jboss-logging-3.3.2.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/mybatis/spring/boot/mybatis-spring-boot-autoconfigure/1.3.2/mybatis-spring-boot-autoconfigure-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-starter-data-redis/2.0.0.RELEASE/spring-boot-starter-data-redis-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-webmvc/5.0.4.RELEASE/spring-webmvc-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/netty/netty-common/4.1.22.Final/netty-common-4.1.22.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-jdbc/5.0.4.RELEASE/spring-jdbc-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/commons/commons-pool2/2.4.3/commons-pool2-2.4.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/eclipse/jdt/ecj/3.12.3/ecj-3.12.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/mysql/mysql-connector-java/8.0.22/mysql-connector-java-8.0.22.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/fasterxml/jackson/core/jackson-annotations/2.9.0/jackson-annotations-2.9.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/logging/log4j/log4j-to-slf4j/2.10.0/log4j-to-slf4j-2.10.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/slf4j/jul-to-slf4j/1.7.25/jul-to-slf4j-1.7.25.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/tomcat/embed/tomcat-embed-el/8.5.28/tomcat-embed-el-8.5.28.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/mybatis/mybatis/3.4.6/mybatis-3.4.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/logging/log4j/log4j-api/2.10.0/log4j-api-2.10.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/netty/netty-buffer/4.1.22.Final/netty-buffer-4.1.22.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/tomcat/tomcat-annotations-api/8.5.28/tomcat-annotations-api-8.5.28.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/netty/netty-resolver/4.1.22.Final/netty-resolver-4.1.22.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/mybatis/spring/boot/mybatis-spring-boot-starter/1.3.2/mybatis-spring-boot-starter-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-core/5.0.4.RELEASE/spring-core-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/fasterxml/jackson/core/jackson-core/2.9.4/jackson-core-2.9.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-starter-json/2.0.0.RELEASE/spring-boot-starter-json-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/javax/validation/validation-api/2.0.1.Final/validation-api-2.0.1.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-oxm/5.0.4.RELEASE/spring-oxm-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/commons-codec/commons-codec/1.11/commons-codec-1.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/boot/spring-boot-starter-logging/2.0.0.RELEASE/spring-boot-starter-logging-2.0.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/com/fasterxml/classmate/1.3.4/classmate-1.3.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-context/5.0.4.RELEASE/spring-context-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/apache/tomcat/embed/tomcat-embed-websocket/8.5.28/tomcat-embed-websocket-8.5.28.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-expression/5.0.4.RELEASE/spring-expression-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/org/springframework/spring-jcl/5.0.4.RELEASE/spring-jcl-5.0.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/netty/netty-handler/4.1.22.Final/netty-handler-4.1.22.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/lettuce/lettuce-core/5.0.2.RELEASE/lettuce-core-5.0.2.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/io/netty/netty-transport/4.1.22.Final/netty-transport-4.1.22.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/javax/annotation/javax.annotation-api/1.3.2/javax.annotation-api-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/../../Maven/apache-maven-3.8.5/maven_repository/javax/servlet/javax.servlet-api/3.1.0/javax.servlet-api-3.1.0.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>